

button{
    color: orange;
    border: 2px solid orange;
background-color: white;
padding: 5px 20px 5px 20px;
border-radius: 5px;
transition: all 0.5s;
}

button:hover{

background-color:orange;
color: aliceblue;
text-decoration: underline;
text-underline-offset: 2px;

}