section{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.box{
width: 300px;
height: 40px;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
font-size: 13px;
font-weight: bold;}

.icon{

    position: absolute;
    left: 15px;
}

.aa{background-color: yellow;
}

.bb{background-color: rgb(70, 36, 36);}

.cc{background-color: white;
border: 1px solid grey;}

.name{color: azure;}