.box{

    width: 200px;
    height: 200px;
    background-color: pink;
    transition: all 0.5s;
}

.box:hover{

    /* transform: rotate(45deg); */
    /* transform: scale(3); */
    transform: translate(100px, 50px);

}

section{
width: 300px;
height: 300px;
overflow: hidden;
}